@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1 {
    font-size: 11em;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: inline;
    font-weight: 900;

}


#icon-container {
    margin: auto;
}

p {
    font-size: 23px;
}

.fa-twitter-square {
    color: #00acee;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

.fa-youtube-square {
    color:#c4302b;
}

.projects-container{
    display: flex;
    float: right;
    flex-direction: column;
    padding-top: 2em;
    height: 100%;
}

.project {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;

    padding: 2em;
    font-size: 2em;
    text-align: center;
    width: 12em;
    margin: .25em;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: 600;
    cursor:pointer;
}

a:hover {
    font-weight: 900;
}


a{
    text-decoration: none;
    color: black;
  }



