@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    /*background-color: black;*/
}

textarea {
    /*background-color: #141414;*/
}

h1 {
    text-align: center;
    /*color: white;*/
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    margin: 10px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    /*color: white;*/
    font-family: 'Lexend', sans-serif;
}

.center {
    margin:0 auto;


}

#textbox {
    font-size: 16px;
    height: 48em;
    width: 50em;
    margin: 20px;

    /*color: white;*/
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
}




.toggleDark {
    float: right;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}



.center {
    text-align: center;
}


a {
    text-decoration: none;
}


